# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/

# IDE
.idea/

# Misc
tmpppp/
others/

# CLAUDE
CLAUDE.md


# Not ready
api/